.error_contract{
    font-style: italic;
    color: rgb(169, 33, 33);
}

.valid_color{
    color: green;
}

.error_username{
    font-style: italic;
    color: rgb(169, 33, 33);
    font-size: 12px;
}