*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.text_bold{
  font-weight: 700;
}

.text_italic{
  font-style: italic;
}

.bloc-tabs {
  display: flex;
}

.tabs {
  padding: 20px;
  
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: left;
  width: 80%;
  background: none;
  cursor: pointer;
  outline: none;

  color: white;

  border: none;
}


.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
}

.active-tabs {
  background-color: #2C264B;
  border-radius: 20px;
}


button {
  border: none;

}

.content {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}

.content h2 {
  padding: 0px 0 5px 0px;
}

.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}

.content p {
  width: 100%;
  height: 100%;
}

.active-content {
  display: flex;
  flex-direction: column;

  align-items: center;
}

/*scrollbar for nav_con*/

.nav_con{
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.nav_con::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.nav_con {
  overflow-y: scroll;
  background-color: #232226;

  height: 100vh;
  border-right: solid 1px #3A3747;
  position: fixed;
  left: 0px;
  color: white;
  width: 340px;

  display: flex;
  flex-direction: column;
}

.nav_btn_con {
  margin-top: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.content_con {
  color: white;
  position: absolute;
  left: 19vw;
  max-width: 80vw;
}

.stream_content {
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  width: 100vw;
}

.play_btn{
  max-width: 50px;
  background-color: #9988FF;
  border-radius: 50px;
  border: none;
}

.play_icon{
  margin: 7px;
}

.play_btn:hover{
  background-color: #2C264B;
  border: none;
  transition: 0.2s;
}

.card_stream_con{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 100vw;
  margin-left: 100px !important;
  margin-right: 100px !important;

}

.card-deck {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.card {
  max-width: 450px;
  min-width: 450px;
  height: max-content;
  background-color: #2B2833;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  display: inline-block;
}

.card:hover {
  transition: .2s;
  border: #595275 solid 0.1px;
  z-index: 100;
}

.card_text:hover .card_subtitle {
  display: none;
  transition: .3s;
  color: white;
}

.card_text:hover .card_content {
  transition: .3s;
  color: white;
}

.card-title,
.card_text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}

.card_con {
  max-width: 1900px;
  min-width: 1900px;
}

.card-footer {
  background: none;
  border: none;

  display: flex;
  justify-content: space-between;
  align-items: self-start;
}

.card_button {
  border-radius: 20px;
  background-color: #9988FF;
  color: white;
  border: none;

  margin-top: -10px;
}

.card_button_delete {
  border-radius: 20px;
  background-color: #595275;
  color: white;
  border: none;

  margin-top: -10px;
}

.card_owned {
  height: 160px;
}

.logout_btn {
  border-radius: 20px;
  background-color: #9988FF;
  color: white;
  border: none;

}

.logout_btn_con {
  margin-top: auto;
  margin-bottom: 45px;
}












.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f1f1f1;


}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;

  background: white;

}

.modal-header,
.modal-footer {
  border: none;
}

.modal-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}



.tabs:hover,
.tabs_contract:hover,
.logout_btn:hover,
.card_button:hover,
.modal_btn:hover,
.modal_btn_sub:hover,
.card_button_delete:hover{
  background-color: #2C264B;
  border-color: #9988FF;
  transition: 0.2s;
  border-radius: 20px;
}

.table_con{
  width: 100%;
  padding-left: 50px;
  margin-right: 100px;
}



.table_fee, .table_date{
  text-align:right;
  margin-right: 100px;
}

.modal_box_contract {
  background-color: #232226;
  background-size: cover;
  border-radius: 20px !important;
  height: max-content;
  width: 33vw;
  padding: 30px;
  padding-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;

  color: white;
}

.modal_box_add {
  background-color: #232226;
  background-size: cover;
  border-radius: 20px !important;
  height: max-content;
  width: 40vw;
  padding: 30px;
  padding-bottom: 40px;
  color: white;
}

.modal_box_proposal {
  background-color: #232226;
  background-size: cover;
  border-radius: 20px !important;
  height: 90vh;
  width: 40vw;
  padding: 30px;


  color: white;
}

.modal_box_offer {
  background-color: #232226;
  background-size: cover;
  border-radius: 20px !important;
  height: 40vh;
  width: 30vw;
  padding: 30px;


  color: white;
}

.modal_purchase_confirm {
  background-color: #232226;
  background-size: cover;
  border-radius: 20px !important;
  height: max-content;
  width: 38vw;
  padding: 30px;
  color: white;
}

.modal_stream_confirm {
  background-color: #232226;
  background-size: cover;
  border-radius: 20px !important;
  height: max-content;
  width: 38vw;
  padding: 30px;
  color: white;
}

.modal_btn {
  border-radius: 20px;
  background-color: #9988FF;
  color: white;
  border: none;
}

.modal_btn_sub {
  border-radius: 20px;
  background: none;
  color: white;
  border: none;
}

.contract_con {
  height: 60vh;
  overflow-y: scroll;
  white-space: nowrap;

  display: flex;
  justify-content: start;
  flex-direction: column;
  padding-left: 25px;
}

.contract_info {
  width: 600px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: lightgrey;
  text-align: left;

  border: solid 1px #595275;
}

.contractinfo_label,
.balanceinfo_label {
  font-weight: 500;
  color: white;
}

.balance_info {
  width: 100%;
  color: lightgrey;
  text-align: left;
  border: solid 1px #595275;
}


.input_con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input_contract {
  width: 40vw;
  background-color: #2B2833;
  color: whitesmoke;
  border-color: #595275;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  outline: none;
}

.inputfield_contract {
  /*
  border: none;
  background: none;
  color: white;
  outline: none;
  margin-left: 10px;
  width: 500px;
  */

  width: 40vw;
  background-color: #2B2833;
  color: whitesmoke;
  border-color: #595275;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  outline: none;
  padding: 20px;
}

.inputfield_contract::placeholder {
  color: #595275;
}

.input_search {
  width: 22vw;
  background-color: #2B2833;
  color: white;
  border-color: #595275;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  outline: none;
  padding: 20px;
}

.inputfield_search::placeholder {
  color: #595275;
}

.inputfield_search{  
  background: none;
  border: none;
  outline: none;
  color: white;
  width: 90%;
}

.input_sort {
  width: 10vw;
  background-color: #2B2833;
  color:#595275;
  border-color: #595275;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  outline: none;
  padding: 20px;
}


.search_con{
  display: flex;
  justify-content: start;
  align-content: center;
  align-content: center;
  flex-direction: row;
  margin: 20px;
  margin-bottom: 50px;
}

.search_con2{
  display: flex;
  justify-content: start;
  align-content: center;
  align-content: center;
  flex-direction: row;
  margin: 20px;
  margin-left: 80px;
  margin-bottom: 50px;
}

.search_title{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 20px;
  margin-left: 50px;
}
.search_title2{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 20px;
  margin-left: 0px;
}

.sort_con{
  display: flex;
  justify-content: end;
  align-content: center;
  align-content: center;
  flex-direction: row;
  margin: 20px;
  margin-bottom: 50px;
  margin-right: 60px;
}

.sort_con2{
  display: flex;
  justify-content: end;
  align-content: center;
  align-content: center;
  flex-direction: row;
  margin: 20px;
  margin-bottom: 50px;
  margin-right: 80px;
}

.sort_title{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 20px;
  margin-left: 100px;
}

.sort_title2{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 20px;
}

.filter_con{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter_con2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.offer_con {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.input_offer {
  width: 25vw;
  background-color: #2B2833;
  color: whitesmoke;
  border-color: #595275;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  outline: none;
}

.input_offer::placeholder {
  color: #595275;
}

.input_contract::placeholder {
  color: #595275;
}

.modal_confirm_title {
  padding-left: 15px;
}

.confirm_subtitle {
  padding-left: 15px;
}

.card_subtitle,
.card_subtitle_token {
  width: 110px;
  display: inline-block;
}

.confirm_con {
  height: max-content;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;

  margin-top: 10px;
}

.confirm_info {
  width: 600px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: lightgrey;
  text-align: left;

  border: solid 1px #595275;
}

.tabs_contract {
  border-radius: 20px !important;
  background-color: #9988FF;
  color: white;
  border: none !important;
}

.atabs_contract::before {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  border-radius: 20px !important;
}

.atabs_contract {
  border-radius: 20px !important;
  background-color: #2C264B;
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-container placeholder {
  position: absolute;
  pointer-events: none;
  transform: translate(0, 23px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: #595275;
  left: 25px;
  top: 15px;
}

.input-container:focus-within placeholder {
  transform: translate(0, 10px) scale(0.8);
  color: #595275;
}

.tooltip>div.tooltip-inner {
  background-color: white !important;
  color: black !important;
}

.tooltip.show {
  opacity: 1 !important;
}

.tooltip>.tooltip-arrow::before {
  border-bottom-color: white !important;
  color: white !important;
}


.modal_contracttype{
  display: flex;
  justify-content: end;
  padding-right: 30px;
}

.modal_percentartist_con{
  background-color: #2B2833;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
}

.modal_percentartist{
  font-size: 50px;
  font-weight: 500;
  color: #9988FF;
}

.modal_percentlabel_con{
  background-color: #2B2833;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
}

.modal_percentlabel{
  font-size: 50px;
  font-weight: 500;
  color: #9988FF;
}

.user_con{
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
}

.logo_tab{
  width: 50px;
}
