
.bg-container{
    width:250px;
    height: 250px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center center;
}

.logo{
    margin-top: 20px;
    margin-right: 5px;
    max-width: 150px;
}
.logo_nav{
    margin-right: 10px;
    max-width: 20px;
}

.logo_name_nav{
    margin-left: 2px;
    max-height: 17px;
}

.logo_name_nav2{
    margin-left: 2px;
    max-height: 65px;
}

.img_con{
    position: relative;
    width:100%;
    height: 100vh;
    /* background-size: 38% 100vw;
    background-repeat: no-repeat;
    background-position: right center; */

    padding: none;
    margin: none;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img_con_cen{
    max-width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/*
.selectrole_box{
    background-color: #fff;
    height: 450px;
    width: 70%;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    margin-left: 100px;
}
*/

.selectrole_box{
    /*background-color: #595275;*/
    background-image: url("../gradient.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    width: max-content;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    margin-left: 50px;
    z-index: 99;
}

.login_con{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.selectrole_con{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:  space-evenly;
    flex-direction: column;
    color: white;
    
}

.login_input{
    width: 100%;
    background: none;
    color: whitesmoke;
    border-color: white;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    outline: none;
    margin-bottom: 30px;
    padding: 10px;
}

.login_btn_con{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logout_btn {
    border-radius: 20px;
    background-color: #9988FF;
    color: white;
    border: none;

}

.logout_btn_con {
    margin-top: auto;
    margin-bottom: 45px;
}
.text_white{
    color: #fff;
    text-align: center;
}

.text_sub{
    color: #595275;
}

.text_pop{
    color: #9988FF;
}

.logo_title_con{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo_con{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.title_con{
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_main{
    font-size: 50px;

}

.title_submain{
    font-size: 40px;
    color: white;

}

.title_sub{
    color: #595275;
}

select {
    padding: 40px;
    color: #595275;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}



option{
    background: #595275;
    border-color: white;
}

option:active, option:hover {
    outline-color: #EA80FF;
}

.about_con{
    width: 100%;
    height: max-content;
    background-color: #595275;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.about_content{
    width: 55%;
    margin-top: 50px;
    text-align: center;
}

.team_logo{
    width: 100%;
    
}   

.team_logo_name{
    margin-top: 30px;
    height: 80px;
}

.team_logo_con{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin-top: 130px;
}

.team_con{
    width: 100%;
    height: 850px;
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.custom-shape-divider-bottom-1681104723 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1681105057 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1681105057 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 258px;
}

.custom-shape-divider-bottom-1681105057 .shape-fill {
    /*fill: #2B2833;*/
    /*fill: #595275;*/
    fill: #595275;
}

.custom-shape-divider-top-1681106908 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1681106908 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 258px;
}

.custom-shape-divider-top-1681106908 .shape-fill {
    fill: #595275;
}

.top_z{
    z-index: 100;
}

.navbar_con{
    position: fixed;
    padding: 25px;
    width: 100%;
    /*margin-bottom: 500px;*/
    top: 0; /* Stay on top */
    transition: top 0.2s;
    background-color: #232226;
    border-bottom: solid 1px #3A3747;
}

.btn_mod_signup{
    width: 100%;
    border-radius: 20px !important;
    background-color: #9988FF !important;
    color: white;
    border: none !important;
    padding: 22px;
}

.btn_mod_role{
    /* background: none !important;
    border: 1px solid white !important; */
}

.btn_mod_role:hover{
    /* background-color: #9988FF !important; */
}

.inputfield_signup{
    width: 15vw;
    background: none;
    color: whitesmoke;
    border-color: white;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    outline: none;
    padding: 20px;
}

